[user]
	name = Andreas Sagen
	email = andreassag@hotmail.no
[core]
    autocrlf = true
    excludesfile = ~/.config/git/.gitignore
	attributesfile = ~/.config/git/.gitattributes
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold