[core]
	autocrlf = input
	editor = code
	pager = less
	excludesfile = .gitignore
[help]
	autocorrect = 0
[status]
	submoduleSummary = true
[merge]
	tool = vimdiff3
[diff]
	external = vimdiff3
	submodule = log
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
